<!-- Graph for Cartesian Coordinates -->
<div id="{{ include.name }}"></div>

<style>
#{{ include.name }} {
  margin: 0 auto;
  float: {{ include.float }};
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 10px;
}

.tick line {
  stroke: #59ADEB;
  opacity: 0.5;
}

g path.domain {
  stroke: none;
}
</style>

<script>
// Set graph
var width = {{ include.width }},
    height = {{ include.height }},
    padding = 10,
    xDomain=[1, -1],
    yDomain=[-1, 1]
    
// create an svg container
graph['{{ include.name }}'] = {}
graph['{{ include.name }}']['svg'] = d3.select("#{{ include.name }}").append("svg")
  .attr("width", width)
  .attr("height", height)

graph['{{ include.name }}']['xScale'] = d3.scaleLinear().domain(xDomain).range([width - padding, padding])
graph['{{ include.name }}']['yScale'] = d3.scaleLinear().domain(yDomain).range([height - padding, padding])

// Define the axes
var xAxis = d3.axisBottom(graph['{{ include.name }}']['xScale'])
var yAxis = d3.axisLeft(graph['{{ include.name }}']['yScale'])

// Plot the x-axis
var xAxisPlot = graph['{{ include.name }}']['svg'].append("g")
  .attr("class", "axis axis--x")
  .attr("transform", "translate(0," + (height / 2) +")")
  .call(xAxis.tickSize(-height, 0, 0))

// Plot the y-axis
var yAxisPlot = graph['{{ include.name }}']['svg'].append("g")
  .attr("class", "axis axis--y")
  .attr("transform", "translate("+ (width / 2) +",0)")
  .call(yAxis.tickSize(-width, 0, 0))

// Add the x-axis lines/ticks
xAxisPlot.selectAll(".tick line")
  .attr("y1", (width - (2 * padding)) / 2 * -1)
  .attr("y2", (width - (2 * padding)) / 2 * 1)

// Add the y-axis lines/ticks
yAxisPlot.selectAll(".tick line")
  .attr("x1", (width - (2 * padding)) / 2 * -1)
  .attr("x2", (width - (2 * padding)) / 2 * 1)

// Draw axes
graph['{{ include.name }}']['svg'].append('line')
  .attr('x1', graph['{{ include.name }}']['xScale'](0))
  .attr('x2', graph['{{ include.name }}']['xScale'](0))
  .attr('y1', graph['{{ include.name }}']['yScale'](-1))
  .attr('y2', graph['{{ include.name }}']['yScale'](1))
  .style('stroke', 'black')
graph['{{ include.name }}']['svg'].append('line')
  .attr('x1', graph['{{ include.name }}']['xScale'](-1))
  .attr('x2', graph['{{ include.name }}']['xScale'](1))
  .attr('y1', graph['{{ include.name }}']['yScale'](0))
  .attr('y2', graph['{{ include.name }}']['yScale'](0))
  .style('stroke', 'black')
</script>